
/***********************
* FONT WEIGHTS
*************************/
$fw-medium:500;
$fw-bold:700;


/***********************
* DEVICE SIZES
*************************/
$d-tablet:768px;
$d-laptop:1020px;


/***********************
* SPACING
*************************/
$m-base:1rem;	// margin
$p-base:1rem;	// padding
