@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/***********************
* FONT WEIGHTS
*************************/
/***********************
* DEVICE SIZES
*************************/
/***********************
* SPACING
*************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*******************
* COMPONENTS
********************/
.container {
  padding: 1rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 1rem 5rem;
    max-width: 1440px;
  }
}

/*************
start of nav && hero section
**************/
@media only screen and (min-width: 768px) {
  #toggle {
    display: none;
  }
  .test button {
    float: right;
  }
  .test a {
    display: inline;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .img-wrapper {
    padding-bottom: 6rem;
    position: relative;
    top: 4rem;
    left: 6rem;
  }
  .content {
    width: 100%;
    position: relative;
    top: 5rem;
    padding-left: 3rem;
    width: 500px;
    font-size: 1.5rem;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #nav > a {
    margin-left: 5rem;
    position: relative;
    top: 1rem;
    font-weight: 700;
    color: #9e9aa7;
  }
  #nav > a:hover {
    color: #232127;
  }
  .btn-mobile {
    position: relative;
    left: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    border: none;
  }
  .btn-mobile:hover {
    cursor: pointer;
  }
  .login {
    position: relative;
    left: 3rem;
    top: 1rem;
    color: #9e9aa7;
    background-color: white;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .login:hover {
    color: #232127;
  }
  .title {
    margin-bottom: 1rem;
  }
  .getStarted {
    margin-top: 2rem;
  }
}

div > a {
  text-decoration: none;
  font-weight: 500;
  margin: 1rem;
}

@media only screen and (max-width: 768px) {
  .toggle-nav {
    float: right;
  }
  .test {
    display: none;
  }
  .nav {
    padding: 1rem;
    background-color: #3b3054;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    border-radius: 12px;
  }
  .nav a {
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: white;
  }
  .nav span {
    border-bottom: 1px solid black;
    border-color: white;
    width: 80%;
    margin: auto;
  }
  .nav .login {
    font-weight: 700 !important;
    border-radius: 50px;
    color: white;
    background-color: #3b3054;
    font-size: 1.3rem;
  }
  .nav .btn-mobile {
    padding: 0.5rem !important;
    font-weight: 100;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
  }
}

.description {
  color: #bfbfbf;
}

.getStarted {
  border: none;
}

@media only screen and (max-width: 768px) {
  .hero .content .title {
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
  }
  .description {
    text-align: center;
    color: #bfbfbf;
    margin: 1rem;
  }
  .img-wrapper > img {
    width: 100%;
    margin: 1rem;
  }
  .getStarted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
  }
}

/*************
end of nav && hero section
**************/
.btn-pill {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.3rem;
  background-color: #2acfcf;
}

.btn-pill:hover {
  background-color: #9ce3e2;
}

/**********************
* BOOST
************************/
.boost {
  background-color: #3b3054;
  position: relative;
  overflow: hidden;
}

.boost.anim::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.boost::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url("../assets/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(5);
          transform: scale(5);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boost .container {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
}

.boost__title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .boost::before {
    background-image: url("../assets/images/bg-boost-desktop.svg");
  }
  .boost__title {
    font-size: 2.5rem;
  }
}

/*******************
* FOOTER
********************/
.footer {
  background-color: #232127;
  padding: 3rem 0;
}

.footer,
.footer h3 {
  font-size: 1rem;
}

.footer li {
  list-style: none;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .logo path {
  fill: white;
}

.footer-col, .footer__icon {
  margin-top: 2rem;
}

.footer-col__title {
  color: white;
  margin-bottom: 1rem;
}

.footer__item {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.footer__link {
  text-decoration: none;
  color: #9e9aa7;
}

.footer__link:hover {
  color: #bfbfbf;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon:not(:last-child) {
  margin-right: 1rem;
}

.footer__icon:hover path {
  fill: #bfbfbf;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 5rem;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__wrapper {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-col, .footer__icon {
    margin-top: 0;
  }
  .footer-col {
    margin-right: 5rem;
  }
  .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__icon {
    margin-bottom: 1rem;
  }
  .footer__icon:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1020px) {
  .footer__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__icon {
    margin-bottom: 0;
  }
  .footer__icon:not(:last-child) {
    margin-right: 2rem;
  }
}

/**********************
* PARTICLES-JS
************************/
#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  -webkit-animation: fadeInOut 2s 1 forwards ease-out;
          animation: fadeInOut 2s 1 forwards ease-out;
}

/*
* Scale up then fade out
*/
@-webkit-keyframes fadeInOut {
  0% {
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInOut {
  0% {
    border-radius: 50%;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1);
            transform: scale(1);
    border-radius: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=styles.css.map */