@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
/***********************
* FONT WEIGHTS
*************************/
/***********************
* DEVICE SIZES
*************************/
/***********************
* SPACING
*************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*******************
* COMPONENTS
********************/
.container {
  padding: 1rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1020px) {
  .container {
    max-width: 1020px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 1rem 5rem;
    max-width: 1440px;
  }
}

.btn-pill {
  padding: 1rem 2.5rem;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.3rem;
  background-color: #2acfcf;
}

.btn-pill:hover {
  background-color: #9ce3e2;
}

/*******************
* FOOTER
********************/
.footer {
  background-color: #232127;
  padding: 3rem 0;
}

.footer, .footer h3 {
  font-size: 1rem;
}

.footer li {
  list-style: none;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .logo path {
  fill: white;
}

.footer-col, .footer__icon {
  margin-top: 2rem;
}

.footer-col__title {
  color: white;
  margin-bottom: 1rem;
}

.footer__item {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.footer__link {
  text-decoration: none;
  color: #9e9aa7;
}

.footer__link:hover {
  color: #bfbfbf;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon:not(:last-child) {
  margin-right: 1rem;
}

.footer__icon:hover path {
  fill: #bfbfbf;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 5rem;
  }
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__wrapper {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-col, .footer__icon {
    margin-top: 0;
  }
  .footer-col {
    margin-right: 5rem;
  }
  .footer__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__icon {
    margin-bottom: 1rem;
  }
  .footer__icon:not(:last-child) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1020px) {
  .footer__icons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__icon {
    margin-bottom: 0;
  }
  .footer__icon:not(:last-child) {
    margin-right: 2rem;
  }
}

/**********************
* BOOST
************************/
.boost {
  background-color: #3b3054;
  position: relative;
  overflow: hidden;
}

.boost.anim::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.boost::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  background-image: url("../assets/images/bg-boost-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: scale(5);
          transform: scale(5);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.boost .container {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  position: relative;
}

.boost__title {
  color: white;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .boost::before {
    background-image: url("../assets/images/bg-boost-desktop.svg");
  }
  .boost__title {
    font-size: 2.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */